.Discord {
    text-align: center;
    margin-top: 20px;
}

.discord-button {
    font-size: 24px;
    padding: 15px 30px;
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
    animation: blink 1s infinite;
    will-change: transform, box-shadow;
}

.discord-button:hover {
    background-color: rgb(201, 171, 0);
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

.navbar button {
    background-color: rgb(132, 0, 255);
    color: #fff;
    border: 1px solid;
    border-image: linear-gradient(to right, rgb(132, 0, 255), rgb(201, 171, 0)) 1;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar button:hover {
    background-color: rgb(201, 171, 0);
    transform: translateY(-2px);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: rgb(132, 0, 255);
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: 1px solid;
    border-image: linear-gradient(to right, rgb(132, 0, 255), rgb(201, 171, 0)) 1;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    margin: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: rgba(201, 171, 0, 0.5);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-button:hover {
    background-color: rgb(201, 171, 0);
}

.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin: 10px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 769px) {
    .nav-links {
        flex-direction: row;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        width: 70%;
        margin: 3px 0;
    }

    .navbar button,
    .dropdown-button {
        width: auto;
        padding: 6px 12px;
        font-size: 12px;
    }

    .dropdown {
        width: 100%;
        margin: 5px 0;
    }

    .dropdown-content {
        position: relative;
        width: 70%;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-content a {
        color: white;
        padding: 10px;
        text-align: center;
        background-color: rgba(132, 0, 255, 0.5);
    }

    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .navbar a {
        width: 100%;
        margin: 5px 0;
    }
}