.Discord {
    text-align: center;
    margin-top: 20px;
}

.discord-button {
    font-size: 24px;
    padding: 15px 30px;
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
    animation: blink 1s infinite;
}

.discord-button:hover {
    background-color: rgb(201, 171, 0);
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.navbar button {
    background-color: rgb(132, 0, 255);
    color: #fff;
    border: 1px solid;
    border-image: linear-gradient(to right, rgb(132, 0, 255), rgb(201, 171, 0)) 1;
    padding: 15px 30px;
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar button:hover {
    background-color: rgb(201, 171, 0);
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}