.slideshow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slideshow-container {
    position: relative;
    max-width: 800px;
    overflow: hidden;
}

.slideshow-image {
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.slideshow-image.active {
    opacity: 1;
}

.slideshow-image.previous {
    transform: rotateY(-180deg);
}

.slideshow-container.additional-info {
    padding: 0;
    margin: 20px;
}

.center-discordlogo {
    display: block;
    margin: 0 auto;
    width: 10%;
} 